<!DOCTYPE html>
<html>
<head>
<title>WebRTC Reference App</title>
<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
<link rel="stylesheet" href="/static/css/main.css" />
<script src="/static/js/sockjs-0.3.min.js"></script>
<script src="/static/js/sockjs_client_wrapper.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/adapter.js"></script>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript" src="/static/js/RecordRTC.js"></script>

<script type="text/javascript" src="/static/js/clmtrackr.js"></script>
<script type="text/javascript" src="/static/js/model_pca_20_svm.js"></script>
<script type="text/javascript" src="/static/js/emotion_classifier.js"></script>
<script type="text/javascript" src="/static/js/emotionmodel.js"></script>
</head>

<body>
  <h1>The video chatting room</h1>
  <p><div id="display_results">  </div></p>
  <div id="container" ondblclick="enterFullScreen()" width="400" height="300">
    <div id="card">
      
      <div id="local">
        <video id="localVideo" width="400" height="300" autoplay="autoplay" muted="true"></video>

        <!-- show lines -->
        <canvas id="drawCanvas" width="400" height="300"></canvas>
        
      </div>
      <div id="remote">
        <video id="remoteVideo" width="400" height="300" autoplay="autoplay">
        </video>
        <div id="mini">
          <video id="miniVideo" autoplay="autoplay" muted="true"/>
        </div>
      </div>
    </div>
    <!-- get picture, added 2014/7/8 -->
    <img src="">
    <canvas style="display:none;" width="320" height="240"></canvas>
    <!--  -->
  </div>
  <input type="button" value="mute" onclick="mute()" />
  <div class="volumeBar">
   <div class="volume"></div>
  </div>
</body>


<script type="text/javascript">
  var errorMessages = {{ params['error_messages'] }};
  var me = '{{ params['me'] }}';
  //var channelToken = '{{ params['channel'] }}';
  var roomLink = '{{ params['channel'] }}';
  var channel = '{{ params['channel'] }}';
  var initiator = {{ params['initiator'] }};
  var pcConstraints = {"optional": []};
  var offerConstraints = {"optional": [], "mandatory": {}};
  var mediaConstraints = {"audio": true, "video": true};
  var turnUrl = '{{ params['turn_url'] }}';
  var stereo = {{ params['stereo'] }};
  var sockjs_server = 'http://localhost:8080/connect';
  var audio_send_codec = '{{ params['audio_send_codec'] }}';
  var audio_receive_codec = '{{ params['audio_receive_codec'] }}';
  var pcConfig = {'iceServers': [{'urls': 'stun:stun.l.google.com:19302'},{'credential': 'lsxu', 'urls': 'turn:lsxu@115.28.172.76'}]};
  setTimeout(initialize, 1);


  var user_id=location.search.split("&")[1].split("=")[1];
  var ctracker;
  var ec;

  var countNum=10;
  var periodCounter=0;
  var counter=0;
  var periodSum = [0,0,0,0];
  var emotionCount = [0,0,0,0];

  //var result;
  var result={
    user_id:user_id,
    modality:"face",
    source:"video"
  };

  function drawLoop() {
      requestAnimationFrame(drawLoop);
      //cc.clearRect(0, 0, canvasInput.width, canvasInput.height);
      //if (ctracker.getCurrentPosition()) {
          //ctracker.draw(canvasInput);
      //}
      var cp = ctracker.getCurrentParameters();
      var er = ec.meanPredict(cp);
      analysisResult(er);
      display_results.innerText=er[0].value+","+er[1].value+","+er[2].value+","+er[3].value;
      //ctracker.draw(canvasInput);
  }
  get_emotion();
  function get_emotion(){
    var videoInput = document.getElementById('remoteVideo');
    ctracker = new clm.tracker({})
    ctracker.init(pModel);
    ctracker.start(videoInput);
    //var canvasInput = document.getElementById('drawCanvas');
    //var cc = canvasInput.getContext('2d');
    
    ec = new emotionClassifier();
    ec.init(emotionModel);
    //var emotionData = ec.getBlank();
    drawLoop();
  }
  
  //counting



  function analysisResult(er){
    for (var i = periodSum.length - 1; i >= 0; i--) {
      periodSum[i]=periodSum[i]+er[i].value;
    }
    //console.log(counter+","+er[0].value+","+periodSum);
    counter++;
    if (counter>countNum){
      //console.log(periodSum);
      for (var i = periodSum.length - 1; i >= 0; i--) {
        if(periodSum[i]/countNum>0.4){
          emotionCount[i]++;
        }
        periodSum[i]=0;
      }
      periodCounter++;
      //console.log(periodCounter+","+location.search);
      if (periodCounter>100){
        outputResult();
        periodCounter=0;
      }
      counter=0;
    }
  }

  function outputResult(){
    //send emotionCount
    //result="{user_id:"+user_id+",angry:"+emotionCount[0]+",sad:"+emotionCount[1]+",surprise:"+emotionCount[2]+",happy:"+emotionCount[3]+",time:"+d.toISOString()+",modality:face,source:video"+"}";
    var emo_data = {
      algorithm:"clmtrackr",
      attributes:[{attribute:{
        angry:emotionCount[0],
        sad:emotionCount[1],
        surprise:emotionCount[2],
        happy:emotionCount[3]}
      }]
    }
    d=new Date();
    result.time=d.toISOString().replace("T"," ").replace("Z","");
    result.emotion = JSON.stringify(emo_data);
    console.log(result);
    //result.emotion.attributes="[attribute:{angry:"+emotionCount[0]+",sad:"+emotionCount[1]+",surprise:"+emotionCount[2]+",happy:"+emotionCount[3]+"}]"
    if ((emotionCount[0]+emotionCount[1]+emotionCount[2]+emotionCount[3])>0){
      $.post("http://202.120.38.227:8080/emotion/face",result,function(r){console.log(r);});  
    }      
    for (var i = emotionCount.length - 1; i >= 0; i--) {
      emotionCount[i]=0;
    } 
  }

  function mute() {
    myVid=document.getElementById("remoteVideo");
    myVid.muted=!myVid.muted;
  };

  $('.volumeBar').on('mousedown', function(e) {
    var position = e.pageX - volume.offset().left;
    var percentage = 100 * position / volume.width();
    $('.volumeBar').css('width', percentage+'%');
    video[0].volume = percentage / 100;
  });
  



//add
  

</script>
<footer id="status">
</footer>
<div id="infoDiv"></div>
</html>